.single-exhibitions{
	.entry-content{
		color: #5e5e5e;
	}
	.right-col{
		.title-block{
			header.row{
				padding-top: 0.5rem;
				background: #e4e4e4;
			}
		}
		.artist-list, .exhibition-downloads{
		background: #e4e4e4;
		}
	}
}
article.exhibitions{
	.feature-img{
		width: 95%;
	}
	.more-photos{
		margin-left: 1rem;
	}
}
.feature-container{
	padding-bottom: 2rem;
}

.related-events{
	.side-title{
		h4{
			background: #e4e4e4;
			color: #c8b92d;
			text-transform: lowercase;
			text-indent: 1rem;
		}
	}
}

/// Exhibition Sidebar Menu
.side-menu{
	.medium-9{
		padding-right: 0;
	}
}
.exhib-local-menu{
	padding-top: 3rem;
	li.location {
	  font-weight: bold;
	  text-transform: lowercase;
	  font-size: 30px;
	  color: #5e5e5e;
	  &>ul{
	  	padding-top: 3rem;
	  	margin-left: 0;
	  }
	  .cat-item{
	  	margin-bottom: rem-calc(18);
	  	ul.children{
	  		background: #d8d8d8;
	  		padding: 1rem;
	  	}
	  }
	}
}
.yearly-menu-container{
	background: white;
	border-right: 2px solid #e4e4e4;
	padding-top: 9rem;
	.yearly-menu{

	}
}

/// Exhibition Archive
.exhib-arch-main{
	padding-top: 6rem;
	padding-bottom: 4rem;
}
.on-view{
	height: 30px;
	transition: all 0.3s;
	overflow: hidden;
	position: absolute;
	header{
		background: white;
	}
	.show-info{
		opacity: 0;
		background: rgba(255,255,255,0.8);
		transition: opacity 0.6s;
	}
	&:hover{
		height: auto;
		.show-info{
			opacity: 1;
		}
	}
}
.exhib-archive-list{

}

/// Location Taxonomy Exhibition
.js-masonry-contain{
	.item{
		width: 340px;
		display: block;
		.item-content{
			height: 100%;
			overflow: hidden;
			background: white;
		}
	}
}
.grid-sizer { width: 50%; }