.single-exhibitions{
	.entry-content{
		color: #5e5e5e;
	}
}
article.exhibitions{
	padding: 2rem 0 6rem;
	.feature-img{
		width: 95%;
	}
	.more-photos{
		margin-left: 1rem;
	}
}
.feature-container{
	padding-bottom: 2rem;
}

.related-events{
	.side-title{
		h4{
			background: #e4e4e4;
			color: #c8b92d;
			text-transform: lowercase;
			text-indent: 1rem;
		}
	}
}

/// Exhibition Archive
