
/// Components
.image-w-banner{
	min-height: 240px;
	width: 100%;
	height: 100%;
	display: block;
	background-size: cover;
	background-position: center center;
	.ribbon{
		background: #e4d859;
		h4{
			color: white;
		}
	}
}

.sponsor-block.row, .current-exhibitions-block {
	border: 4px solid $gray-l2;
	margin: 2rem -0.9375rem;
	header.row {
		background-color: $citrus;
		padding-left: rem-calc(8);
	}
	.sponsors {
		margin-top: 1rem;
	}	
}