$footer-dark: #3f3938;
$footer-light: #e2e2e2;

.footer-border{
	background: $footer-dark;
	ul.sub-nav{
		margin: 0rem 0 0rem;
		padding-top: 0rem;
		overflow: visible;
		li{
			background: $footer-dark;
			padding: 0px 9px;
			position: relative;
			font-size: rem-calc(20);
			top: rem-calc(32);
			a{
				color: $footer-light;
				&:hover{
					color: white;
				}
			}
		}
	}
}

footer[role="main"]{
	background: $footer-light;
}
.footer-menus{
	margin-top: 3rem;
	padding-bottom: 2rem;
	.widget{
		h6{
			text-transform: uppercase;
			color: $footer-dark;
		}
	}
	ul.menu{
		list-style: none;
		margin-left: 0;
		li{
			a{
				color: $footer-dark;
				&:hover{
					color: darken($footer-dark, 10%);
				}
			}
		}
	}
	p{
		color: $footer-dark;
		&.copyright{
			color: #c9c9c9;
		}
	}
}

.hours-container{
	background: #c9c9c9;
	padding: 1rem 1rem 6rem 2rem;
	.open-next{
		h6{
			color: #f75421;
		}
	}
	h6{
		color: $footer-dark;
	}
}