.row.content-container {
  max-width: 100%;
}
.left-col, .side-menu{
	background: #e4e4e4;
}
.right-col{
	background: white;
	color: #5e5e5e;
	padding-top: 1.5rem;
	
	h1,h2,h3,h4,h5,p{
		color: #5e5e5e;
	}
}

.row.main-content{

}