section.container {
  background: transparent;
}

// Vertical Centering
.vcenter-container {
   position: relative;
  .vcenter-content{
  	width: 100%;
   	margin: 0;
   	position: absolute;              
   	top: 50%;                        
   	transform: translate(0, -50%);
   	-webkit-transform: translate(0, -50%);
   	-moz-transform: translate(0,50%);
   }
}

.p-t {
  padding-top: $rem-base !important;
}
.p-b {
  padding-bottom: $rem-base !important;
}
.p-y {
  padding-top: $rem-base !important;
  padding-bottom: $rem-base !important;
}